# 3. Math Operations
# Arithmetic Operators   + - * / %

In [1]:
print(10+4)

14

In [2]:
print(10-4)

6

In [3]:
print(10*4)

40

In [4]:
print(10/4)

2.5

In [5]:
print (10**4)

10000

In [6]:
print(10%4)

2

# TYPE CASTING

In [53]:
t=("saniya")
convert_t=str(t)
convert_t

'saniya'

In [104]:
a = 10
b=20
c=a+b
c

30

In [106]:
type(a)

TypeError: 'str' object is not callable

In [101]:
3+2.5

5.5

In [52]:
str(3)+str("saniya")

'3saniya'

In [23]:
str(3)+ '     saniya'

'3     saniya'

In [24]:
int(3)

3

In [25]:
int(34+4)

38

In [26]:
float(6)

6.0

# Relational operators

* > greater than
* < less than
* >= greater than or equal to
* <= less thn or equal to
* != not equal to
* == equal to

In [27]:
print(5>3)

True

In [28]:
print(5>=3)

True

In [29]:
print(5<3)

False

In [1]:
3==2

False

# Logical operators

and  -  if both True then TRUE, else false
or   -  if both false then fale, else true

In [31]:
print ( 5>2 and 4>3)

True

In [32]:
print ( 5>2 and 3>4)

False

In [33]:
print ( 5>2 or 4>3)

True

In [34]:
print ( 2>5 or 3>4)

False

In [8]:
a= 0
b= 1

In [9]:
a & b

0

In [10]:
a | b

1

In [11]:
a & a

0

In [13]:
a | a

0

In [14]:
b & b

1

In [15]:
b | b

1

# Conditional statements

* if
* elif
* else

In [39]:
x=2

if (x>0 and x<2) :
    print ("above 0 less than 2")
    
elif x == 0 :
    print ("its zero")    

else :
    print ("above 2")

above 2