# DATA STRUCTURES

TUPLE                                        LIST                                                          FORMAT

1. Ordered collection of elements            1. Ordered collection of elements 
2. ROUND BRACKET () - { a=(1,2,'s') }        2. SQUARE BRACKET [ ] - { a=[1,'s',True,4] }
3. HETEROGENOUS                              3. HETEROGENOUS
4. IMMUTABLE-Changing elements - CANNOT      4. MUTABLE - Changing elements - Possible { a1[0]='s' }
5. Accessing elements                        5. Accessing elements                                         a1[0]
6. Length                                    6. Length                                                     len(a1) 
7. Adding                                    7. Adding                                                     a1+a2
8. Repeat / Multiply                         8. Repeat / Multiply                                          a1 * 3
9. Concatenate                               9. Concatenate                                                a2 * 3 + a1
10. Functions                                10.Functions: 
   1)Minimum value { min.a1() }                 1)Change/replace { a1[0]='s' }
   2)Maximum value { max.a1() }                 2)Pop            { a1.pop() }
                                                3)Append         { a1.append('saman') }
                                             11.Modifications:
                                                1)Reverse        { a1.reverse() }
                                                2)Sort           { a1.sort() }
                                                3)Insert         { a1.insert(0,'firstplace') }

DICTIONARY                                    SET   

1. Unordered collection of Key:Value pair     1. Unordered and Unindexed collection of elements
2. FLOWER BRACKET { }                         2. FLOWER BRACKET { }
3. KEYS : VALUES - a1={'a':1,'b':2}           3. No order, no index - a1={1,'a',True}
4. Modifications:                             4. Heterogenous
   1)Add -adds in last- whole KEY:VALUE       5. Cannot access elements with index number 
     a1['x']=10                               6. Does not show duplicates
   2)Change-changes only VALUE                7. Operations
     a1['a']=20                                  1)Adding 1 element            - a1.add('z')
5. Functions:                                    2)Updating multiple elements  - a1.update([1,'a',True])
   1)Update -like append of list                 3)Removing an element         - a1.remove('x')
     adds both KEY:VALUE in last              8. Functions:
     a1.update(a2) - a1 then a2                  1)Union - Joining 2 sets -   a1.union(a2)
   2)Pop - removes that KEY:VALUE                2)Intersection - Display common btwn 2 sets  - a1.intersection(a2)
     a1.pop('b')

# 1. TUPLE

1. Ordered collection of elements enclosed within closed round bracket ()
2. Heterogenous - Can be any elements int string/ bool
3. Immutable - Non changeable

In [214]:
tup1 = (1, 'a', True, 10+2j)  # Type
type(tup1)

tuple

In [215]:
print(tup1[0])    # Accessing elements by index number
print(tup1[-2])

1
True

In [216]:
tup1[0:2]

(1, 'a')

In [217]:
tup1[0] = 's'  # Change the element  - IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [21]:
len(tup1)   # Length of tuple

4

In [23]:
tup1=(1,2,'s')
tup2=(True,'a',3)
tup1,tup2

((1, 2, 's'), (True, 'a', 3))

In [25]:
print(tup1+tup2)  # CONCATENATE / JOIN
print(tup2+tup1)

(1, 2, 's', True, 'a', 3)
(True, 'a', 3, 1, 2, 's')

In [29]:
tup1 * 4  # REPEAT

(1, 2, 's', 1, 2, 's', 1, 2, 's', 1, 2, 's')

In [31]:
tup1*2 + tup2  # REPEAT AND CONCATENATE

(1, 2, 's', 1, 2, 's', True, 'a', 3)

## Functions of Tuple

1. Minimum Value
2. Maximum Value

In [33]:
tup1= (1,2,3,4,5,6,7,8,9,10)
print(min(tup1))              # minimum value
print(max(tup1))              # maximum value

1
10

# 2. LIST

1. Ordered collection of elements enclosed in square [  ] brackets
2. Heterogenous - Can be any elements int string/ bool
3. Mutable - Changeable

In [34]:
list1 = [1, 'a', True, 2+10j]
type(list1)

list

In [39]:
print(list1[0])    # Accessing elements by index number
print(list1[3])

1
(2+10j)

In [43]:
print(list1[2:])

[True, (2+10j)]

In [128]:
a1=[1,2,3,'s']
a2=['a','n','i',4,5]
print(len(a1))           # Length
print(a1+a2)             # Adding
print(a1 * 3)            # Repeating
print(a2 *2 + a1)        # Concatenating

4
[1, 2, 3, 's', 'a', 'n', 'i', 4, 5]
[1, 2, 3, 's', 1, 2, 3, 's', 1, 2, 3, 's']
['a', 'n', 'i', 4, 5, 'a', 'n', 'i', 4, 5, 1, 2, 3, 's']

## Functions of List

1. Changing the element - replacing particular element
2. Popping the element - removes last element
3. Append the element - adds element in the end

In [52]:
list1 = [1, 'a', 2, True, 'saniya', 3, False]
list1

[1, 'a', 2, True, 'saniya', 3, False]

In [57]:
list1[0] = 's'         # Replacing a with s
list1

['s', 'a', 2, True, 'saniya', 3]

In [62]:
list1.pop()           # Pop - Remove last element
list1

['s', 'a', 2, True, 'saniya', 'saman', 'saman']

In [69]:
list1.append('saman')  # Append - Add last element - keeps adding by number of times running

In [68]:
list1

['s',
 'a',
 2,
 True,
 'saniya',
 'saman',
 'saman',
 'saman',
 'saman',
 'saman',
 'saman',
 'saman']

## Modifying a List

1. Reversing elements
2. Sorting a list - for same type of elements - numbers / characters
3. Inserting element in specific index number

In [79]:
s1 = [1, 'a', 's', 2, 3, 't']
s1

[1, 'a', 's', 2, 3, 't']

In [83]:
s1.reverse()      # Reverse elements
s1

[1, 'a', 's', 2, 3, 't']

In [88]:
s1 = ['apple','mango','saniya','bat']
s1

['apple', 'mango', 'saniya', 'bat']

In [93]:
s1.sort()        # Sorting in order
s1

[1, 2, 3, 4]

In [94]:
s1 = [ 3,1,4,2]
s1

[3, 1, 4, 2]

In [95]:
s1.sort()
s1

[1, 2, 3, 4]

In [100]:
s1 = [1,'a',2,'b',True,3,'c',False]
s1

[1, 'a', 2, 'b', True, 3, 'c', False]

In [102]:
s1.insert(1,'slap')   # Keeps inserting by number of times we run
s1

[1, 'slap', 'slap', 'a', 2, 'b', True, 3, 'c', False]

## Basic Operations of List

1. Concatenating list (Adding)
2. Repeating elements

In [112]:
s1 = [1,2,3]                    # Adding 2 lists
s2 = ['a','b','c','a',True]
s1+s2

[1, 2, 3, 'a', 'b', 'c', 'a', True]

In [111]:
s1 = [1,'s',3,True,5]           # Repeating elements
s1*3

[1, 's', 3, True, 5, 1, 's', 3, True, 5, 1, 's', 3, True, 5]

In [115]:
s1 = [1,2,3]                    # Concatenating lists
s2 = ['apple', 'mango', 'banana']
s2 *3 + s1

['apple',
 'mango',
 'banana',
 'apple',
 'mango',
 'banana',
 'apple',
 'mango',
 'banana',
 1,
 2,
 3]

# 3. DICTIONARY

1. Unordered collection of KEY:VALUE pair enclosed with { }
2. Mutable - changeable elements

In [130]:
a1 = { 'a':50, 'b':100, 'c':150, 'd':200 }

In [135]:
print(a1)
print(type(a1))

{'a': 50, 'b': 100, 'c': 150, 'd': 200}
<class 'dict'>

In [138]:
a1.keys()                            # Accessing keys

dict_keys(['a', 'b', 'c', 'd'])

In [139]:
a1.values()                          # Accessing values

dict_values([50, 100, 150, 200])

## Modifying a dictionary

1. Adding element
2. Changing element

In [140]:
a1

{'a': 50, 'b': 100, 'c': 150, 'd': 200}

In [143]:
a1['e']=250                        # Adding element
a1

{'a': 50, 'b': 100, 'c': 150, 'd': 200, 'e': 250}

In [144]:
a1['a']=300                        # Changing element
a1

{'a': 300, 'b': 100, 'c': 150, 'd': 200, 'e': 250}

## Functions of dictionary

1. Update element
2. Pop element

In [164]:
a1 = {'a':10, 'b':20, 'c':30} 
a2 = {'d':40, 'e':50, 'e':60}
print(a1)
print(a2)

{'a': 10, 'b': 20, 'c': 30}
{'d': 40, 'e': 60}

In [165]:
a1.update(a2)                     # Update element
a1

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 60}

In [166]:
a1.pop('c')                       # Pops out only once, if v run again, then it is already removed, shows error

30

In [167]:
a1

{'a': 10, 'b': 20, 'd': 40, 'e': 60}

# SET

1. Unordered and Unindexed collection of elements in { }
2. Mutable - Changeable
3. Heterogenous
4. Duplicates are not allowed
5. Cannot access elements with index number

In [212]:
a1 = {1, 'a', 3, True}
a1

{1, 3, 'a'}

In [169]:
type(a1)

set

In [173]:
a1 = {1, 'a', 3, 'sam', 1, 'sam'}
a1

{1, 3, 'a', 'sam'}

## Operations of Set

1. Adding 1 element
2. Updating multiple elements
3. Removing an element

In [179]:
a1 = {1,'a',2, True ,False,'sam',3}
a1

{1, 2, 3, False, 'a', 'sam'}

In [180]:
a1.add('b')                        # Adding 1 element
a1

{1, 2, 3, False, 'a', 'b', 'sam'}

In [201]:
a1.add(7)
a1

{1, 2, 3, 4, 7, False, 'a', 'b', 'c', 'sam'}

In [202]:
a1.update([4,5,'c'])              # Updating multiple elements
a1

{1, 2, 3, 4, 5, 7, False, 'a', 'b', 'c', 'sam'}

In [203]:
a1

{1, 2, 3, 4, 5, 7, False, 'a', 'b', 'c', 'sam'}

In [204]:
a1.remove(5)                     # Removes once, will show error if run again
a1

{1, 2, 3, 4, 7, False, 'a', 'b', 'c', 'sam'}

## Functions of Set

1. Union of 2 sets
2. Intersection of 2 sets

In [209]:
a1={1,2,3,4}
a2={'a','b','c',4}
print(a1)
print(a2)

{1, 2, 3, 4}
{'a', 'b', 4, 'c'}

In [210]:
a1.union(a2)                   # Union of 2 sets - joins 2 sets

{1, 2, 3, 4, 'a', 'b', 'c'}

In [211]:
a1.intersection(a2)           # Intersection of 2 sets - only shows common elements

{4}