# DECISION MAKING

1. IF - ELIF - ELSE
2. LOOPING STATEMENTS: 
   - WHILE - Repeat Tasks
   - FOR - To iterate in a sequence

### IF ELIF ELSE

1) if(condition): 
   {
   "space"Statements to be executed          #space is important
   }

   else
   {
   "space"Statements to be executed          #space is important
   }


2) if(condition): 
   {
   "space"Statements to be executed          #space is important
   }

   elif(condition):
   {
   "space"Statements to be executed          #space is important
   }

   else
   {
   "space"Statements to be executed          #space is important
   }


### If with Tuple

1)  if 'element' in tup1:
       print("statement")
    
    else:
       print("statement")


### If with List

1) if 'element' in lis1:                          
      print("statement")
    
   else:
      print("statement")


2) if lis1[0] == element:                        
      lis1[0] = 'changed element'
      print(lis1)


### If with Dictionary

1) if dict1['keyname'] == value:
      print("statement") 

2)Adding extra  value 
   if dict1['keyname'] == value:
      dict1['keyname']=dict1['keyname']+500 
      print(dict1)

### WHILE STATEMENT

while (condition)
    print ("Statement")
   
   Example 1:                              Example 2: Tables
   i=1
   while i<=10:
       print(i)
       i=i+1
   
1) WHILE with LIST
   a1 = [ 1,2,3 ]
   i = 0
   while i<len(a1):
      a1[i] = a1[i]+100
      i=i+1
   a1

In [5]:
a=10
b=20

In [10]:
if b>a:                       
    print("b is greater")    # with space/indentation before print

b is greater

In [12]:
if b>a:                       
print("b is greater")       # without space/indentation before print

IndentationError: expected an indented block (<ipython-input-12-ed1dc02a5f30>, line 2)

In [13]:
if a>b:
    print("a is greater")
    
else:
    print("b is greater")

b is greater

In [14]:
a=10
b=20
c=30

In [16]:
if (a>b) & (a>c):
    print("a is greatest")
    
elif (b>a) & (b>c):
    print("b is greatest")
    
else:
    print("c is greatest")

c is greatest

# IF with TUPLE

In [17]:
tup1 = ('a','b','c')

In [51]:
if 'a' in tup1:
    print("a is in tup1")
    
else:
    print("z is not in tup1")

a is in tup1

# IF with LIST

In [31]:
lis1 = ['a',1,'b',2,'sam']

In [52]:
if 'a' in lis1:                           # a is in list or not
    print(" a is in lis1")
    
else:
    print("z is not in lis1")

 a is in lis1

In [33]:
if lis1[1] == 1:                          # if given value in that index is present or not
    print("index 1 is 1")

index 1 is 1

In [34]:
if lis1[1] == 1:                          # if given value is correct, then change it
    lis1[1] = 'b'
    print(lis1)

['a', 'b', 'b', 2, 'sam']

# IF with DICTIONARY

In [48]:
dict1 = {'a':100, 'b':200, 'c':300, 'd':400}

In [49]:
if dict1['a'] == 100:
    print("a is correct")

a is correct

In [50]:
if dict1['a'] == 100:
    dict1['a']=dict1['a']+500
    print(dict1)

{'a': 600, 'b': 200, 'c': 300, 'd': 400}

# LOOPING STATEMENTS

Repeat task multiple times

## WHILE Statement

while (condition)
    print ("Statement")

In [58]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [63]:
# Tables
i=1
n=2
while i<=10:
    print( n, ' * ',i, " = ", n*i )
    i=i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

# WHILE with LIST

In [77]:
a1 = [ 1,2,3 ]
i = 0

In [78]:
while i<len(a1):
    a1[i] = a1[i]+100
    i=i+1

In [79]:
a1

[101, 102, 103]

# FOR LOOP

Used to iterate in a sequence (tuple, list, dictionary..)

In [82]:
a1 = ['mango','grapes','orange','apple']
a1

['mango', 'grapes', 'orange', 'apple']

In [83]:
for i in a1:
    print(i)

mango
grapes
orange
apple

In [85]:
a1 = ['red','blue','green']
a2 = ['pen','book','desk']

In [87]:
for i in a1:
    for j in a2:
        print(i,j)

red pen
red book
red desk
blue pen
blue book
blue desk
green pen
green book
green desk